@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&family=Poppins:wght@300;500;900&display=swap");

:root {
    --COLOR-BACKGROUND: #033678;
    --COLOR-WHITE: #fff;
}

body {
    background-color: var(--COLOR-BACKGROUND);
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--COLOR-WHITE);
}

.title {
    display: flex;
    color: var(--COLOR-WHITE);
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
    width: 100%;
}

.b3-icon {
    width: 25%;
}

header h1 {
    text-align: center;
    font-weight: 600;
    width: 60%;
    font-size: 1.2rem;
    padding-top: 10px;
}

header p {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 10px;
}
.logo {
    margin: 0 25px;
}
.logo.americanas {
    height: 16px;
}
.logo.delivery {
    height: 26px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 90%;
    max-width: 500px;
    color: var(--COLOR-WHITE);
    margin: 20px 20px 0;
}

.form p {
    font-size: 0.8rem;
    padding: 5px 5px 0;
}

.table {
    background-color: var(--COLOR-WHITE);
    width: 90%;
    max-width: 800px;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-top: 15px;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--COLOR-WHITE);
}

footer img {
    width: 90%;
}

footer a {
    color: var(--COLOR-WHITE);
}

@media screen and (min-width: 820px) {
    header {
        width: 100%;
    }
    .title {
        justify-content: flex-start;
    }
    .title h1 {
        font-size: 2rem;
    }
    .title img {
        width: 20%;
        max-width: 170px;
        margin-left: 30px;
    }
    .table {
        font-size: 1.2rem;
        margin-top: 25px;
    }
    footer img {
        max-width: 500px;
    }
}

@media screen and (min-width: 1280px) {
    .title h1 {
        margin-left: 5%;
    }
}
